<h3>Message Us!</h3>

<p>If you have a serious legal concern, please send us an email with the form provided below. <br/> It will ask you to fill out the names of the parties in concern, a contact email so we can reach you, the subject should be a short description of the concern, and the message body can be filled with information deemed relevant. </p>

<%= render 'form', notification: Notification.new %>

<%= link_to 'Home', root_path %>
