<div id="practice-area-content area-1" class="row practice-area">

<h3 style="text-decoration:underline;">Thoughts on Area 1</h3>
<div class="video-container">
  <iframe class="video-iframe" width="560" height="315" src="https://www.youtube.com/embed/GsC6htXqllM" frameborder="0" allowfullscreen></iframe>
</div>

<div class="main-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque placerat felis, nec iaculis urna ullamcorper at. Duis tempor sem quis ullamcorper suscipit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque commodo felis elit, ac lacinia est egestas sit amet. Pellentesque efficitur tincidunt ex. Donec maximus rhoncus sapien, vehicula fermentum erat euismod quis. Vestibulum eget porttitor mi, vel auctor libero. Nulla in lorem at nisl lacinia ultricies. Morbi id leo tortor. </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque placerat felis, nec iaculis urna ullamcorper at. Duis tempor sem quis ullamcorper suscipit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque commodo felis elit, ac lacinia est egestas sit amet. Pellentesque efficitur tincidunt ex. Donec maximus rhoncus sapien, vehicula fermentum erat euismod quis. Vestibulum eget porttitor mi, vel auctor libero. Nulla in lorem at nisl lacinia ultricies. Morbi id leo tortor. </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec scelerisque placerat felis, nec iaculis urna ullamcorper at. Duis tempor sem quis ullamcorper suscipit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque commodo felis elit, ac lacinia est egestas sit amet. Pellentesque efficitur tincidunt ex. Donec maximus rhoncus sapien, vehicula fermentum erat euismod quis. Vestibulum eget porttitor mi, vel auctor libero. Nulla in lorem at nisl lacinia ultricies. Morbi id leo tortor. </p>
  </div>
</div>
