<div class="photos-container">
	<div style="width:50%;"><img class="landing-photos" src="legal2.jpg"></div>
	<div style="width:50%;"><img class="landing-photos" src="photo1.jpg"></div>
</div>
<div id="landing-page">
<div class="top-row">
	<h3>
	Florida Trial Lawyers Home Page
	</h3>
</div>
<div class="middle-row" style="width:95%;margin:auto;">
	<div id="legal-column-container">
		<svg id="legal-column-svg" xmlns="http://www.w3.org/2000/svg">
			<path class="legal-column" fill="none" stroke="black" stroke-width="2" stroke-miterlimit="0"
				  d="M 0,0 10,15
					 C 10,15 5,17.5 10,20
					 V 60
					 C 10,60 5,62.5 10,65
					 M 10,65 0,80
					 H 60
					 M 60,80 50,65
					 C 50,65 55,62.5 50,60
					 V 20
					 C 50,20 55,17.5 50,15
					 M 50,15 60,0
					 H 0
					 M 30,20 30,60
					 M 20,20 20,60
					 M 40,20 40,60
					 Z"
				/>
			</svg>
	</div>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est lab
	</br>	</br>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est lab
	</p>

	<div id="legal-column-container">
		<svg class="legal-column-svg" xmlns="http://www.w3.org/2000/svg">
			<path class="legal-column" fill="none" stroke="black" stroke-width="2" stroke-miterlimit="0"
				  d="M 0,0 10,15
					 C 10,15 5,17.5 10,20
					 V 60
					 C 10,60 5,62.5 10,65
					 M 10,65 0,80
					 H 60
					 M 60,80 50,65
					 C 50,65 55,62.5 50,60
					 V 20
					 C 50,20 55,17.5 50,15
					 M 50,15 60,0
					 H 0
					 M 30,20 30,60
					 M 20,20 20,60
					 M 40,20 40,60
					 Z"
				/>
			</svg>
	</div>
</div>
<div class="bottom-row"></div>
</div>

<div id="contact">
<h3>Contact Us</h3>

<h3>Address: 1621 Ridgewood Avenue, Daytona Beach Florida</h5>
<h4>Phone: (386)123-4567</h5>
<div class="row" style="display:flex; width:65%;margin:auto;">
	<iframe
		width="400"
	  height="250"
	  frameborder="0" style="border:0"
	  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCIYkA8_QLQ8tx-VtIfFK8rQnh27gsML3U&q=1621+Ridgewood+Avenue,Daytona+Beach+Florida">
	</iframe>
	<div>
		<%= link_to "send us a message", new_notification_path %>
		<p><span style="font-weight: bold;margin:auto;">Disclaimer:</span> This is not regularly monitored and is not a promise to do business with you.</p>
	</div>
</div>
</div>
