<h3>The Lawyers</h3>

<div class="photos">
	<div class="photo-container">
		<img src="http://cdn.c.photoshelter.com/img-get2/I0000A_z.s64UtGE/fit=1000x750/Lawyer-Headshot.jpg" class="headshot" alt="Matt Miles">
		<h5>R. Matt Miles</h5>
	</div>
	<div class="photo-container">	
		<img src="http://cdn.c.photoshelter.com/img-get2/I0000A_z.s64UtGE/fit=1000x750/Lawyer-Headshot.jpg" class="headshot" alt="Mike Walker">
		<h5>Mike Walker</h5>
	</div>
</div>

<div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est lab </p>
</div>
