<h3>Legal Record</h3>

<p>We host a sterling legal record all over the state of Florida. Together we have fought and won trials in Jacksonville, the Keys, and nearly all of central Florida.</p>

<p>We win because we are not morons, like the rest. The legal system is falling apart and it's the two of us here trying to keep the legitimacy of the system alive. Our minds are sharp and our arguments are cutting. We wil get the job done.</p>
