// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.landing-photos{
  height:100%;
  width:100%;
}
#main-content{
height: 85%;
width: 100%;
margin:0 0 0 0;
padding: 20px 0 0 0;
font-family: 'Raleway', sans-serif;
letter-spacing:1px;
overflow-y: scroll;
}
#main-content h3{
width: 100%;
text-align: center;
margin: 5px 0 10px 0;
padding: 0 0 0 0;
color: #294F6D;
}
#main-content p{
  line-height:1.75;
  letter-spacing: 1px;
  margin: auto;
  width:65%;
  max-width:960px;
  display:block
}
#landing-page{
display:flex;
flex-direction:column;
margin:20px 0 0 0;
}
.middle-row{
display:flex;
flex-direction:row;
}
svg {
height:84px;
width:64px;
margin:50% 0 50% 0;
padding:0 40px 0 40px;

  .legal-column {
    stroke: #000;
    stroke-width: 1;
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
    animation-name: draw;
    animation-duration: 1.5s;
    animation-fill-mode: forwards; // Stay on the last frame
    animation-iteration-count: 1; // Run only once
    animation-timing-function: linear;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

#the-lawyers{
margin-top: 30px;
border-top: solid thin;
}

.photos-container{
height:280px;
width:100%;
display:flex;
justify-content:space-around;
}
.photo-container{
text-align:center;
margin:0 0 0 0;
height:100%;
}
.headshot{
height: 354px;
width: 236px;
border: solid gold;
}

#contact{
border-top:solid thin;
margin:30px 0 20px 0;
text-align: center;
}

#practice-area-content{
  margin: 60px auto;
}
h3{text-align:center;}
.practice-area{
  border-bottom:solid thin;
  margin:auto;
  width:65%;
}
.practice-area p{
  width:90%;
  margin:15px auto 20px auto;
  letter-spacing:.75px;
  line-height: 1.75;
}

ul li{
  display:inline;
  padding:0 5px 0 5px;
}
ul li:hover{
  cursor: pointer;
}
