// Place all the styles related to the PracticeArea controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.video-container{
  margin:10px auto;
  text-align:center;
}
p{
  text-align:justify;
}
